@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', monospace;
    background-color: #b6deb9 ;
    position: relative;
    font-weight: bolder;
}

.section {
    position: absolute;
    left: 50%;
    padding: 15px;
    background-color: #aebfaf;
    width: 500px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.section .header{
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.inputs {
    display: flex;
    flex-direction: row;
   
    justify-content: space-around;
    margin-bottom: 20px;
    text-shadow:  1px 1px 2px  #ffffff;
}

.inputs .input{
    width: 70px;
    border-radius: 5px;
}

.buttons{
    
    display: flex;
 
    align-items: center;
    align-content: center;
    padding: 0 20px;
    
}

.buttons .button{
    width: 30px;
    height: 30px;
    border-radius: 5%;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.resultado {
    width: 150px;
    height: 50px;
    background-color: #ffffff;
    border: 3 solid #89998a;
    border-radius: 5px;
    margin: 15px auto;

}